body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #c8b6ff;

}

.content {

    background-color: #ffd6ff;
    max-width: 400px;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
}

button {
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #c8b6ff;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

#todoList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
    list-style: none;
}

.todo-item {
    transition: all 0.3s ease;
    background-color: white;
    border-radius: 5px;
    width: 150px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: grab;
    transition: transform 0.2s;
    align-items: center;


}


.todo-item:active {
    cursor: grabbing;
    transform: scale(1.05);

}

.todo-item.completed {
    opacity: 0.6;
    background-color: #bfc0c2;
}

.remove-btn.completed {
    margin-left: 5px;
    border: none;
    background-color: #bfc0c2;
}

span {
    margin-top: 20px;

}

span:hover {
    background-color: #c8b6ffce;
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

button:hover {
    background-color: #c8b6ffce;
}

button:active {
    background-color: #c8b6ffee;
}

.clearbutton {
    background-color: #9D8189;
}

.remove-btn {
    margin-left: 5px;
    border: none;
    background-color: #e7c6ff;
}

.remove-btn:hover {
    background-color: #c8b6ffce;
}

.remove-btn:active {
    background-color: #c8b6ffee;
}



.lists {
    background-color: #e7c6ff;
    border: none;
    border-radius: 10px;
}