body {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #c8b6ff;

}

.content {

    background-color: #ffd6ff;
    max-width: 400px;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

input {
    border: none;
    border-radius: 5px;
    padding: 10px 5px;
}

button {
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #c8b6ff;
    color: white;
    font-weight: bolder;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;

}

h1 {
    color: white;
}

p {
    color: white;
}

button:hover {
    background-color: #c8b6ffce;
}

button:active {
    background-color: #c8b6ffee;
}

.clearbutton {
    background-color: #9D8189;
}

.remove-btn {
    margin-left: 5px;
    border: none;
    background-color: #e7c6ff;
}

.remove-btn:hover {
    background-color: #c8b6ffce;
}

.remove-btn:active {
    background-color: #c8b6ffee;
}

.todo-item {
    margin: 10px 0;
}

ul {
    background-color: #e7c6ff;
    border: none;
    border-radius: 10px;

}

span:hover {
    background-color: #c8b6ffce;
    color: white;
}